.banner{
    padding: 5%;
    height: auto;
    width: 90%
}

.container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container>img{
    width: 30%;
    height: 200px;
    object-fit: fill;
    padding-bottom: 20px;
}